
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: red;
}

header {
    background-color: rgb(94, 231, 231);
    color: rgb(252, 4, 4);
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: darkred;
}


main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: deeppink;
    margin-bottom: 15px;
}

h3 {
    margin-top: 20px;
    color: #333;
}


form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

form button:hover {
    background: #45a049;
}


footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
}

img {
    max-width: 200px;
   border-radius: 50%;
    margin: 10px;
    

}
.left-align {
    float: left;
    margin-right: 20px;
}

.education-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.education-card {
    border: 2px solid #4CAF50;
    border-radius: 10px; 
    padding: 20px;
    margin: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f9f9f9; 
    width: 250px;
    
}
.education-card:hover {
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .education-card {
        flex: 1 1 100%; 
    }
}